name: Denná Športová Analýza

on:
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Libs
        run: pip install -r requirements.txt
      - name: Run
        env:
          ODDS_API_KEY: ${{ secrets.ODDS_API_KEY }}
          GMAIL_USER: ${{ secrets.GMAIL_USER }}
          GMAIL_PASSWORD: ${{ secrets.GMAIL_PASSWORD }}
          GMAIL_RECEIVER: ${{ secrets.GMAIL_RECEIVER }}
        run: python main.py
